JOBS_REPOSITORY=
UI_REPOSITORY=
DISPATCH_APP_ID=
PYTHON_PACKAGE_INDEX_URL=https://pypi.org/simple
PYTHON_PUBLISH_REPOSITORY_URL=https://upload.pypi.org/legacy/
DISPATCH_APP_PRIVATE_KEY=
PYTHON_PUBLISH_USERNAME=__token__
PYTHON_PUBLISH_PASSWORD=
